div.menu {
display: flex;
justify-content: center;
}
    @media screen and (max-width: 500px){
    div.menu {
    display: flex;
    justify-content: center;
    }}

ul.menu {
padding: 8px 8px 8px 8px;
border-radius: 5px;
background-color: rgba(0, 0, 0, 0.3);
}
    @media screen and (max-width: 500px){
    ul.menu {
    padding: 2vw 4vw 2vw 4vw;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    }}

li.menu_element {
padding: 0 1vw 0 1vw;
display: inline;
}
    @media screen and (max-width: 500px){
    li.menu_element {
    padding: 1vw 0 1vw 0;
    display: list-item;
    list-style-type: none;
    }}

a.menu_link {
font-family: 'Verdana', sans-serif;
font-size: 2vw;
font-weight: bold;
text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.4);
transition: color 0.2s;
}
    @media screen and (max-width: 500px){
    a.menu_link {
    font-family: 'Verdana', sans-serif;
    font-size: 6vw;
    font-weight: bold;
    text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.4);
    transition: color 0.2s;
    }}

div.all_skills_block{
width: 76vw;
height: 25vw;
padding: 0 0 2.5vw 0;
margin: 2vw auto 0 auto;
position: center;
border-radius: 7px;
background-color: rgba(0, 0, 0, 0.5);
}
    @media screen and (max-width: 500px){
    div.all_skills_block{
    width: 95vw;
    height: 58vw;
    position: center;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    }}

table.skills_table {
width: 100%;
height: 100%;
text-align: left;
padding-left: 2vw;
}
    @media screen and (max-width: 500px){
    table.skills_table{
    width: 100%;
    height: 100%;
    text-align: left;
    padding-left: 1vw;
    }}

table.skills_table td, table.skills_table th {
vertical-align: top;
}
    @media screen and (max-width: 500px){
    table.skills_table td, table.skills_table th{
    vertical-align: top;
    }}

table.skills_table tbody td {
font-size: 1vw;
font-weight: bold;
color: rgba(255, 255, 255, 0.95);
font-family: 'Verdana', sans-serif;
letter-spacing: 0.1vw;
text-shadow: 3px 2px rgba(0, 0, 0, 1);
transition: color 0.2s;
}
    @media screen and (max-width: 500px){
    table.skills_table tbody td{
    font-size: 1.9vw;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.95);
    font-family: 'Verdana', sans-serif;
    letter-spacing: 0vw;
    text-shadow: 3px 2px rgba(0, 0, 0, 1);
    transition: color 0.2s;
    }}


ul{
padding-left: 2vw;
}
    @media screen and (max-width: 500px){
    ul{
    padding-left: 8px;
    }}


img.skills_logos {
transform: translateY(0.4vw);
height:2vw;
}
    @media screen and (max-width: 500px){
    img.skills_logos{
    transform: translateY(5px);
    height:5vw;
    }}



.requests {
position: relative;
}
.requests:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.requests:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .requests:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 150%;
    }}

.BS4 {
position: relative;
}
.BS4:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.BS4:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .BS4:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 150%;
    }}

.selenium {
position: relative;
}
.selenium:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.selenium:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .selenium:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 150%;
    }}

.HTML {
position: relative;
}
.HTML:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.HTML:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .HTML:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 150%;
    }}

.CSS {
position: relative;
}
.CSS:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.CSS:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .CSS:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 150%;
    }}

.flask {
position: relative;
}
.flask:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.flask:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .flask:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 150%;
    }}

.postgresql {
position: relative;
}
.postgresql:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.postgresql:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .postgresql:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    right: 0vw;
    top: 150%;
    }}

.sqlite {
position: relative;
}
.sqlite:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.sqlite:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .sqlite:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    right: 0vw;
    top: 150%;
    }}

.git {
position: relative;
}
.git:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
right: 0vw;
top: 130%;
}
.git:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .git:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    right: 0vw;
    top: 150%;
    }}

.bash {
position: relative;
}
.bash:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
right: 0vw;
top: 130%;
}
.bash:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .bash:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    right: 0vw;
    top: 150%;
    }}

.pytest {
position: relative;
}
.pytest:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.pytest:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .pytest:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 150%;
    }}

.unittest {
position: relative;
}
.unittest:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.unittest:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .unittest:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 150%;
    }}

.tk {
position: relative;
}
.tk:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.tk:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .tk:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 150%;
    }}

.pandas {
position: relative;
}
.pandas:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.pandas:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .pandas:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    right: 0vw;
    top: 150%;
    }}

.mathplot {
position: relative;
}
.mathplot:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.mathplot:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .mathplot:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    right: 0vw;
    top: 150%;
    }}

.seaborn {
position: relative;
}
.seaborn:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 30vw;
font-size: 1vw;
font-weight: normal;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 255, 255, 0.95);
text-align: left;
border-radius: 5px;
padding: 0.5vw 0.5vw;
transition: opacity 0.5s ease-in-out;
position: absolute;
z-index: 1;
top: 130%;
}
.seaborn:hover:before {
opacity: 1;
visibility: visible;
}
    @media screen and (max-width: 500px){
    .seaborn:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60vw;
    font-size: 3vw;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
    border-radius: 5px;
    padding: 0.5vw 0.5vw;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    right: 0vw;
    top: 150%;
    }}



div.footer {
position: fixed;
left: 32.5vw;
bottom: 4vh;
}
    @media screen and (max-width: 500px){
    div.footer {
    padding: 20vw 0 0 0;
    display: flex;
    justify-content: left;
    }}

nav.footer {
width: 35vw;
padding: 8px 0px 8px 0px;
text-align: center;
border-radius: 7px;
background-color: rgba(0, 0, 0, 0.9);
}
    @media screen and (max-width: 500px){
    nav.footer {
    width: 40vw;
    padding: 0.8vh 0.5vw 0.8vh 0.5vw;
    text-align: center;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.9);
    }}

ul.footer{
padding: 0 0 0 0;
margin: 0 0 0 0;
}

li.footer_element {
display: inline;
}
    @media screen and (max-width: 500px){
    li.footer_element {
    padding: 0px 0px 0px 4vw;
    display: inline;
    float: left;
    }}


li.footer_element_consecutive {
padding: 0px 0px 0px 2vw;
display: inline;
}
    @media screen and (max-width: 500px){
    li.footer_element_consecutive {
    padding: 0px 0px 0px 4vw;
    display: list-item;
    float: left;
    list-style-type: none;
    }}


a.footer_link {
padding: 0 0 0 0.2vw;
font-family: 'Verdana', sans-serif;
font-size: 1.5vw;
font-weight: bold;
letter-spacing: 0.1vw;
text-shadow: 4px 3px rgba(0, 0, 0, 1);
transition: color 0.2s;
}
    @media screen and (max-width: 500px){
    a.footer_link {
    padding: 0 0 0 0vw;
    font-family: 'Verdana', sans-serif;
    font-size: 5vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
    text-shadow: 4px 3px rgba(0, 0, 0, 1);
    transition: color 0.2s;
    }}

img.footer_link_img {
transform: translateY(2px);
width:1.4vw;
height:1.4vw;
}
    @media screen and (max-width: 500px){
    img.footer_link_img {
    width:4vw;
    height:4vw
    }}

a:link {color: rgba(255, 255, 255, 0.95); text-decoration: none;}
a:visited {color: rgba(255, 255, 255, 0.95); text-decoration: none;}
a:hover {color: rgba(178, 49, 66, 0.95)}
a:focus {color: rgba(178, 49, 66, 0.95)}
a:active {color: rgba(130, 159, 198, 0.95)}
html {
background-image: url('../BG_Image.jpg');
background-color: gray;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
background-origin: border-box;
}